footer{
    background-color:var(--color-secundario);
    color:var(--color-fondo);
    padding:
        var(--espacio-lg)
        var(--espacio-lg);
}

.footer-contenido{
    display:flex;
    justify-content:space-between;
    gap:var(--espacio-xl);
    flex-wrap:wrap;

}

/* Columnas */

.footer-columna{
    display:flex;
    flex-direction:column;
    gap:var(--espacio-sm);

}

.footer-columna h3{
    font-size: var(--texto-lg);

}

/* Listas */

.footer-columna ul{
    display:flex;
    flex-direction:column;
    gap:var(--espacio-sm);

}

/* Links*/

.footer-columna a{
    display:flex;
    align-items:center;
    gap:var(--espacio-xs);
    transition:var(--transicion);

}

.footer-columna a:hover{
    opacity:.7;

}

.footer-columna a img{
    width:22px;
    height:22px;
    object-fit:contain;

}

.footer-columna:first-child img{
    width:90px;
    height:auto;

}

/* copy*/

.footer-copy{
    text-align:center;
    margin-top:var(--espacio-lg);
    font-size:var(--texto-sm);

}