nav{
    width: 100%;
    background-color: var(--color-fondo);
    position: fixed;
    top:0;
    left:0;
    z-index:100;
    box-shadow: var( --sombra-md);
}

.nav-publica-contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding:
        var(--espacio-sm)
        var(--espacio-lg);
}

.nav-publica-links ul{
    display: flex;
    align-items: center;
    gap: var(--espacio-lg);
}

.nav-publica-links li{
    position: relative;
}

.nav-publica-links a{
    color: var(--color-texto);
    font-size: var(--texto-sm);
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    transition: var(--transicion);
}

.nav-publica-links a:hover{
    border-bottom-color: var(--color-texto);
}

.logo{
    display: flex;
    align-items:center;
    gap: var(--espacio-sm);
}

.logo img{
    height: 40px;
    width: 40px;
    object-fit: contain;
}

.logo p{
    margin: 0;
    line-height: 1,2;
    font-size: var(--texto-sm);
}

.menu-desplegable ul{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 115%;
    left: 0;
    background: var(--color-fondo);
    padding: var(--espacio-sm);
    border-radius: var(--radio-sm);
    gap: var(--espacio-sm);
    min-width: 130px;
}

.menu-desplegable:hover ul{
    display: flex;
}