/* botones*/

.btn{
    display: inline-block;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
}

.btn-primario{
    background-color: var(--color-secundario);
    color: var(--color-fondo);
}

.btn-secundario{
    background-color: transparent;
    border: 2px solid var(--color-secundario);
    color: var(--color-secundario);
}

.btn:hover {
    opacity: 0.9;
    transform: translateY(-1px);
}


.btn:active {
    transform: scale(0.98);
}


/* enlaces texto */

.link-texto{
    color: var(--color-secundario);
    text-decoration: underline;
    font-weight: 500;
}

.link-texto:hover{
    color: var(--color-primario);
}