/* Modal*/

.modal{
    border:none;
    padding:0;
    background:transparent;
    width:100vw;
    height:100vh;
    max-width:none;
    max-height:none;

}

.modal::backdrop{
    background:
        rgba(0,0,0,.55);

}

.modal[open]{
    display:grid;
    place-items:center;

}

.modal-contenido{
    background: var(--color-fondo);
    width: min(90%,500px);
    padding: var(--espacio-xl);
    border-radius: var(--radio-md);
    text-align:center;

}

/* Icono superior */

.modal-contenido > img{
    width:110px;
    display:block;
    margin:
        0 auto
        var(--espacio-md);

}
